body{
    width: 50%;
    margin: 0 auto;

    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;

    background-color: white;
    /* margin-top: 0; */

    left: 0;
    top: 0;
}

main{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    background-color: black;
}
main section{
    background-color: white;
}
main section .first:hover{
    cursor: pointer;
    background-color: rgb(128, 128, 128, .5);
}
.first p{
    margin-bottom: 0;
    padding-bottom: 16px;
}
.first{
    padding-top: 18.72px;
}
.name{
    margin-top: 0;
}

.description{
    display: none;

    position: fixed;
    border: 1px solid black;
    width: 60%;
    min-height: 80%;
    left: 20%;
    top: 75px;
}
.descriptionChange .description{
    display: block;
}
.header{
    display: flex;
    align-items: center;
}
.header i{
    aspect-ratio: 1/1;
    margin-left: 15px;
}
.header i:hover{
    cursor: pointer;
    color: red;
}
.header h3{
    margin-right: 35px;
    width: 100%;
}

@media screen and (max-width: 255px) {
    body{
        width: 90%;
    }
    main{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}
@media screen and (max-width: 900px) and (min-width: 255px) {
    body{
        width: 90%;
    }
    main{
        grid-template-columns: 1fr;
        margin-top: 120px;
    }
}